<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- 映射了两个控制器类 分别映射到对应的action -->
	<bean name="/product_input.action2" class="app17a.InputProductController" />
	<bean name="/product_save.action2" class="app17a.SaveProductController" />
	<!-- 配置View的前后缀方便编程 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/SpringJsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
</beans>